<h1 style="font-size:45px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white; font-style:italic; position: relative; left:5%">Reports Menu</h1>

<p style="position: relative; left:5%"><a  class = "button1" href="/report/custreport">Customer Report</a><br><br></p>
<p style="position: relative; left:5%"><a  class = "button1" href="report/prodreport">Product Report</a><br><br></p>
<p style="position: relative; left:5%"><a  class = "button1"  href="report/salereport">Sales Report</a></p>
