<h1> New Employee Record</h1>
<form action="/employees" method="post">
<table>
<tr> <td> Employee First Name: </td> <td> <input type="text" name="firstname" required> </td> </tr>
<tr> <td> Employee Last Name: </td> <td> <input type="text" name="lastname" required> </td> </tr>
<tr> <td> Start Date: </td> <td> <input type="date" name="start_date" required> </td> </tr>
<tr> <td> Salary Per Hour: </td> <td> <input type="number" step="any" name="pay" required> </td> </tr>
<tr> <td> Location ID: </td> <td> <input type="number" name="location_id" required> </td> </tr>
</table>
<button type="submit">Save</button>
</form>