<h1 style="font-size:45px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white; font-style:italic; position: relative; left:5%"> New Location Record</h1>
<form action="/locations" method="post">
<table>
<tr> <td> Address: </td> <td> <input type="text" name="address" required> </td> </tr>
<tr> <td> Number of Employees: </td> <td> <input type="number" name="number_of_employees" required> </td> </tr>
<tr> <td> Yearly Revenue: </td> <td> <input type="number" step="any" name="yearly_revenue" required> </td> </tr>
</table>
<button type="submit">Save</button>
</form>