<body>
    <h1 style="font-size:45px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white; font-style:italic; position: relative; left:5%">About Us</h1>
    <div style="width:90%">
        <p style="position:relative; left:5%; font-size:20px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:#301d06">&emsp;&emsp;StockShop is a food and home goods refill store. At any StockShop store or online site, customers can buy containers to be refillable with their chosen grocery items, laundry products, bathroom products, and etc. Anything from powdered or liquid detergent, to your favorite goldfish snacks. StockShop works and shares with other popular companies to sell you your favorite products. 
        So if you want to reduce your plastic waste and carbon footprint come to a StockShop store today. We have all your favorites ready for refill!</p>
    </div>
</body>