<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="banner" ><h1 style="text-align:center; font-size:50px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:#800000"><b>
      <a href="/" style=" font-size:50px" >StockShop</a></b></h1></div>
    <div class="contactheader"><h1 style="font-size:45px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white; font-style:italic">About Us</h1></div>
    <div class="aboutus">
      <p style="padding:10px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white; font-size:20px">
        &emsp;&emsp;StockShop is a store for customers who want to reduce ther carbon footprint and plastic use. At stock shop we provide a refill service with whatever
        grocery items or home goods you might need. Our company aims
        to reduce carbon emissions and plastic waste through our convientent refill idea, as well as, through our eco-friendly, plant made containers.Your favorite companies save money on packaging,
        which means you save money! StockShop is a more affordable and eco-friendly alternative to your local grocery store. For first time customers, StockShop provided a free 32 ounce eco-friendly refill container for you to use in store.
        There are mutiple refill container sizes for all of your needs. 
        Come to any StockShop and refill on your favorites! 
      </p>
    </div>
    <div class="banner" style="top:85%"></div>
  </body>
</html>
