<body>
  <script>
    function submitform(){
      alert("Review submitted. We care about your input, so thank you.");
      document.getElementById("myform").reset();
    }
  </script>
  
  <h1 style="font-size:45px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white; font-style:italic; position: relative; left:5%">Contact Us</h1>
  
  <table style="position: relative; width:80%; margin-left: auto; margin-right: auto;"><tr varalign="TOP">
    <tr><th><h1 style="padding:10px; font-size:30px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:#301d06">Send Us A Direct Review</h1></th>
    <th><h1 style="padding:10px; font-size:30px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:#301d06">Socials</h1></th></tr>
    <tr>
    
      <td style=" width:70%; height:50%">
        <form id="myform" style="padding:10px">
          <textarea name="message11" id="message11" rows="10" maxlength="1500"></textarea>
        </form>
      </td>

      <td style="text-align: center; vertical-align: top;"><a href="mailto:croman12@depaul.edu" class = "button1" style="font-size: 25px;" target="_blank">Email</a>
        <br><br><br>
      <a class = "button1" href="https://www.instagram.com/10ading.err0r" style="font-size: 25px;" target="_blank">Insta</a></td>
    </tr>
    <tr style="height:100px">
      <td style="text-align: center; margin-top: 0%;"><button class="button1" style="font-size:20px" onclick="submitform()">Submit Review</button></td>
    </tr>
  </tr></table>
</body>
