<body>
  <script>
    function submitform(){
      alert("Review submitted. We care about your input, so thank you.");
      document.getElementById("myform").reset();
    }
  </script>
<h1 style="font-size:45px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white; font-style:italic; position: relative; left:5%">Contact Us</h1>
    <div class="messagebox">
      <h1 style="text-align:left; padding:10px; font-size:20px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:#301d06">Send Us A Direct Review</h1>
      <form id="myform" style="padding:10px">
        <textarea name="message" id="message" rows="10" maxlength="1500"></textarea>
      </form>
      <button onclick="submitform()">Submit Review</button>
      
    </div>
    <div class="socials" style="text-align:center; top:52%">
      <h1 style="text-align:center; font-size:45px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white; font-style:italic">Socials</h1>
      <a href="mailto:croman12@depaul.edu" target="_blank">Email</a>
      <br>
      <br>
      <br>
      <a href="https://www.instagram.com/10ading.err0r" target="_blank">Insta</a>
    </div>
    <br>
</body>
