<div id="footer" style="background-color:#FFE4C4; height:20%">

  <p >
    <a style="font-size:15px; padding:0px" href="/help">Help</a>
    <a style="font-size:15px; padding:0px" href="/policies">Policies</a>
    <a style="font-size:15px; padding:0px" href="/privacy">Privacy</a>
  </p>
  </div>