<table bgcolor="#FFE4C4" width="100%"><tr>
    <td width="20%" align="left"></td>
    <td width="60%" align="center"><h1 style="text-align:center; font-size:50px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:#800000"><b>
      <a href="/" style=" font-size:50px" ><img src="/images/refillsticker.webp" width="80">StockShop<img src="/images/refillsticker.webp" width="80"></a></b></h1></td>
      <td width="10%" align='center'><img src="/images/login.png" width="50"></td>
      <td width=10% align="center"><img src="/images/shopping-cart.png" width="50"></td>
</tr></table>

<p>
  <form action="/search" method="get">
    <h2 style="display:inline; font-size:18px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:#800000" ><b>Search: </b></h2><input type="text" name="searchcriteria" style="width:25%; background-color: #FFE4C4;"><input type="submit" value="GO" style="background-color:#800000; color:#FFE4C4"> 
  </form>
</p>

<ul bgcolor="#FFE4C4">
  <li><a href="/">HOME</a></li>
  <li><a href="/contact">CONTACT</a></li>
  <li><a href="/about">ABOUT</a></li>
  <li><a href="/product">PRODUCTS</a></li>
  <li><a href="/customer">CUSTOMERS</a></li>
  <li><a href="/employees">EMPLOYEES</a></li>
  <li><a href="/locations">LOCATIONS</a></li>
  <li><a href="/saleorder">SALE ORDERS</a></li>
  <li><a href="/orderdetail">ORDER DETAILS</a></li>
  <li><a href="/supplier">SUPPLIERS</a></li>
  <li><a href="/review">REVIEWS</a></li>
  <li><a href="/promotion">PROMOTIONS</a></li>
  <li><a href="/report">REPORTS</a></li>
</ul>

