<h1 style="font-size:45px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white; font-style:italic; position: relative; left:5%">Need Some Help?</h1>
<p style="position:relative; left:5%; font-size:20px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:#301d06">Heres the link to our contact page: <a href="/contact">CONTACT</a></p>