<body>
  <h1 style="text-align:center; font-size:30px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white; font-style:italic">Let's Be Resourceful.</h1>
  <div class="descrip"><h1 style="font-size:25px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:#513009">&emsp;&emsp;This is StockShops' main website. 
    This website allows you to contact us or learn more about our company. Products and services will be added to the site soon!</h1></div>
  <!--=
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <p> this is my first web application -Dude i like it!</p>
  <a href="/contact"><li>Login</li></a>
  -->
</body>