<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="banner"><h1 style="text-align:center; font-size:50px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:#800000"><b>StockShop</b></h1></div>
    <div class="title"><h1 style="text-align:center; font-size:30px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white; font-style:italic">Let's Be Resourceful.</h1></div>
    <div class="links">
      <br>
      <br>
      <br>
      <br>
      <br>
      <a href="/contact">CONTACT</a>
      <br>
      <br>
      <br>
      <br>
      <br>
      <a href="/about">ABOUT</a>
    </div>
    <div class="descrip"><h1 style="font-size:25px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:#513009">&emsp;&emsp;This is StockShops' main website. 
      This website allows you to contact us or learn more about our company. Products and services will be added to the site soon!</h1></div>
    <!--=
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p> this is my first web application -Dude i like it!</p>
    <a href="/contact"><li>Login</li></a>
    -->
    <div class="banner" style="top:85%"></div>
  </body>
</html>
