<body>
<h1 style="font-size:45px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white; font-style:italic; position: relative; left:5%">POLICIES</h1>
<h3 style="font-size:26px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white; font-style:italic; position: relative; left:5%">Privacy</h3>
<p style="position:relative; left:5%; font-size:15px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:#301d06">To learn more about privacy policies click this link: <a href='/privacy'>privacy</a></p>
<h3 style="font-size:26px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white; font-style:italic; position: relative; left:5%">Copy Right</h3>
<p style="position:relative; width:90%; left:5%; font-size:15px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:#301d06">All content included in or made available through StockShop.com, including images, downloads, and user input is the property of StockShop through nationwide copy right laws.</p>
<h3 style="font-size:26px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white; font-style:italic; position: relative; left:5%">Trade Marks</h3>
<p style="position:relative; left:5%; font-size:15px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:#301d06">All content and logos are either trade marked by StockShop or StockShops partners</p>
</body>
