<h1 style="font-size:45px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white; font-style:italic; position: relative; left:5%">PRIVACY</h1>
<p style="position:relative; width:90%; left:5%; font-size:15px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:#301d06">
    All copy right is owned by StockShop and partners. Customers personal information is stored in StockShops database.
    StockShop uses cookies authorized by the customer themselves. All personal content uploaded from a customer to StockShops website can be used in the court of law.</p>
