<h1 style="font-size:45px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white; font-style:italic; position: relative; left:5%"> New Product</h1>
<form action="/product" method="post">
<table >
<tr> <td> Product Name: </td> <td> <input type="text" name="productname" required> </td> </tr>
<tr> <td> Image: </td> <td> <input type="text" name="prodimage" required> </td> </tr>
<tr> <td> Description: </td> <td> <textarea name="description" rows="10" cols="30" placeholder="Description"></textarea> </td> </tr>
<tr> <td> Supplier: </td> 
    <td> 
        <select name="supplier_id" required>
            <optgroup label="Select Supplier">
                <% for (var i = 0; i < supplier.length; i++) { %>
                    <option value=<%= supplier[i].supplier_id %>> 
                    <%= supplier[i].suppliername %> </option>
                <% } %>
            </optgroup>
        </select>
    </td>
</tr>
<tr> <td> Cost Per Ounce: </td> <td> <input type="number" step="any" name="cost_per_ounce" required> </td> </tr>
<tr> <td> Catagory: </td> <td> <select name="catagory" required>
<option selected disabled>Choose Catagory</option>
<option>Snacks</option>
<option>Beverage</option>
<option>Household Essentials</option>
<option>Skin Care</option>
</select> </td> </tr>
<tr> <td> Total liters in storage: </td> <td> <input type="number" step="any" name="total_liters_in_storage" required></td></tr>
<tr> <td> Homepage: </td> <td> <input type="checkbox" name="homepage"></td></tr>

</table>
<button  class = "button1" type="submit">Save</button>
</form>